body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%; 
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: 300;
}
.Format{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height:245%;
    color:rgb(255, 255, 255);
    position:absolute;
    left:0px;
    top:0px;
    bottom: 0px;
}
.Main_bar{
    width: 39.6%;
    background-color:rgb(0, 0, 0);
    height:100%;float:right;
    text-align:center;
    border-right: 1px solid rgba(255, 255, 255, 0.259);
    border-left: 1px solid rgba(255, 255, 255, 0.259); 
    font-weight:bolder;
}
.Left_bar{
    width: 30%;
    background-color:rgb(0, 0, 0);
    height:20%;
    float:left;
    text-align:right;
    font-weight:bolder;
    
}
.Right_bar{
    width: 30%;
    background-color:rgb(0, 0, 0);
    height:12%;
    float:right;
    font-weight:bolder;
    
}
.Main_header{
    background-color: rgb(0, 0, 0);
    height: 60;
    border-bottom: 1px solid rgb(255, 255, 255, 0.437);
}
.Main_header ul{
    padding: 0;
    margin: 0;
}
.Main_header ul li{
    list-style-type: none;
    display: inline;
}
.Main_header ul a{
    text-decoration: rgb(0, 0,0);
    color: white;
    display: inline-block;
    padding: 20px 50px 20px 20px;
    margin: 0;
    font-size: 18px;
}

.Main_header a:hover {
    color: rgb(56, 16, 68)
}

.post{
    height: 21%;
    overflow: hidden;
    padding: 5px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.437);
    color: aliceblue;
}
.post:last-child{
    height: 500px;
    padding: 5px;
}
.post:first-child{
    height: 5%;
}
/* .post:last-child .post_pic{
    height: 90%;
    padding: 15px;
} */
/* .post:last-child .icons{
    height: 5%;
} */
.profile_pic{
    background-color: rgb(0, 0, 0);
    height: 300;
    width: 15%;
    float: left;
}
.profile_pic img{
    border-radius: 70%;
}

.title{
    background-color: rgb(0, 0, 0);
    height: 70;
    float: right;
    width: 85%;
    text-align: left;
   
}
.title p{
    font-size: 17px;
    display: inline;
    font-weight: 500;
}
.title small{
    color: white;
}
.caption{
    padding: 5px;
}
.post_pic{
    background-color: rgb(0, 0, 0);
    height: 80%;
    text-align: left;
    padding: 0px 50px;
}
.post_pic img{
    border-radius: 5%;
}
.quotes{
    padding: 0px 50px;
    margin: 0;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
.column {
    float: left;
    width: 33.33%;
    padding: 2px;
    height: 85%;
  }
 .icons{
    margin-top: 20px;
    width: 100%;
    height: 5%; 
}  
/* @media screen and (max-width: 739px){
    .icons{
        height: 8.5%;
    }
    .icons a{
        font-size: 10px;
    }
    .icons img{
        width: 3%;
    }
} */
.icons i{
    color: white;
    
}
.icons a{
    text-decoration: none;
    color: rgba(250, 250, 250, 0.731);
    padding-left: 20px;
    font-weight: 100;
}
.icons a:hover{
    color: rgb(159, 94, 94);
}
.inner_right{
    position: relative;
    left: 20px;
    padding: 10px;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%; 
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;

    
}
.Format{
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height:200%;
    color:rgb(255, 255, 255);
     position:absolute;
    left:0px;
    top:0px;
    bottom: 0px;
}
.Main_bar{
    display: flex;
    width: 40%;
    background-color:rgb(0, 0, 0);
    height:100%;float:right;
    text-align:center;
    border-right: 1px solid white;
    border-left: 1px solid white; 
    font-weight:bolder;
    flex-flow: column;
    overflow-y: auto;
    position: relative;
    left: 30%;

}
.Left_bar{
    display: flex;
    width: 30%;
    background-color:rgb(0, 0, 0);
    height:100%;
    float:left;
    text-align:right;
    font-weight:bolder;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}
.Right_bar{
    display: flex;
    width: 30%;
    background-color:rgb(0, 0, 0);
    height:100%;
    float:right;
    font-weight:bolder;
    position: relative;
    left: 30%;
}
.Main_header{
    background-color: rgb(0, 0, 0);
    height: 60;
    border-bottom: 1px solid white;
   
}
.post{
    background-color: rgb(228, 129, 0);
    height: 304;
    border-bottom: 1px solid white;
}
.profile_pic{
    position:relative;
    top:8px;
    background-color: rgb(0, 0, 0);
    height: 97.2%;
    width: 15%;
    float: left;    
}
.title{
    background-color: rgb(0, 0, 0);
    height: 70;
    position:relative;
    top:5px;
    float: right;
    width: 85%;
    font-size:small;
    text-align: left;
    font-weight:600;
    
}
.message{
    background-color: rgb(0, 0, 0);
    height: 50;
    position:relative;
    top:9px;
    width: 100%;
    font-weight: 400;
    
}
.user{
    opacity: 20%;
}
.post_pic{
    background-color: rgb(0, 0, 0);
    height: 304;
    text-align: left;
    top: 10px;
}
.img{
    position:relative;
    border-radius: 5%;
    top: 3%;
    border-color: 1px solid  white ;
}
.proimg{
    border-radius: 50%;
    border-color: 1px solid  white ;
}
.inner_right{
    position: relative;
    left: 20px;
    padding: 10px;
}

.gfg2 {
    position: relative;
    left: 20px;
    top: 40px;
    border-radius: 20px 20px;
    background: rgb(56, 57, 89, 0.364);
    padding: 20px;
    text-align: left;
    width: 270px;
    height: 800px;
}

.gfg {
    position: relative;
    left: 20px;
    top: 20px;
    border-radius: 20px 20px;
    background: rgb(56, 57, 89, 0.364);
    padding-left: 20px;
    padding-top: 5;
    padding-bottom: 5;
    text-align: left;
    padding-right: 6;
    width: 280px;
    height: 190px;
    
}
.input{
    position: relative;
    left: 0.0cm;
    border-radius: 75px 75px;
    width:305px;
    height:60px;
    background-color:rgba(56, 57, 89, 0.364) ;
    border-bottom:0px;
    border-top:0px;
    border-right:0px;
    border-left: 0px;
    right: 24px;
    padding: 20px;
    color:white;
    padding-left: 46px;
    
}
.btn1{
    border-radius: 75px 75px;
    background-color:rgb(0, 117, 213) ;
    color:white;
    border-bottom:0px;
    border-top:0px;
    border-right:0px;
    border-left: 0px;
    padding: 10px;
    width:100px;
}

.spa{
    position: relative;
    left:25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Nathan CSS */
.left-pane {
    display: flex;
    flex-direction: column;
    position:relative;
    background-color: black;
    color: white;
    padding: 15px;
    text-align: right;
    top: 17px;
}
.fab{
    position: relative;
    left: 69px;
    bottom: 20px;

}

.left-pane ul {
    
    color: white;
    list-style: none;
    position:relative;
    left: 240px;
    text-align: right;
}

.left-pane ul li {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.blue-rectangle {
    top: 20px;
    position: relative;
    background-color: #1DA1F2;
    color: white;
    padding: 2px;
    width: 240px;
    text-align: center;
    left: 260px;
    border-radius: 999px; /* to create a rounded rectangle */
}

.user-account {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 55%;
    left: 270px;
}

.user-account img {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    bottom: 30px;
}

.user-info {
    position: relative;
    bottom: 20px;
}