body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%; 
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;

    
}
.Format{
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height:200%;
    color:rgb(255, 255, 255);
     position:absolute;
    left:0px;
    top:0px;
    bottom: 0px;
}
.Main_bar{
    display: flex;
    width: 40%;
    background-color:rgb(0, 0, 0);
    height:100%;float:right;
    text-align:center;
    border-right: 1px solid white;
    border-left: 1px solid white; 
    font-weight:bolder;
    flex-flow: column;
    overflow-y: auto;
    position: relative;
    left: 30%;

}
.Left_bar{
    display: flex;
    width: 30%;
    background-color:rgb(0, 0, 0);
    height:100%;
    float:left;
    text-align:right;
    font-weight:bolder;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}
.Right_bar{
    display: flex;
    width: 30%;
    background-color:rgb(0, 0, 0);
    height:100%;
    float:right;
    font-weight:bolder;
    position: relative;
    left: 30%;
}
.Main_header{
    background-color: rgb(0, 0, 0);
    height: 60;
    border-bottom: 1px solid white;
   
}
.post{
    background-color: rgb(0, 0, 0);
    /* height: 304; */
    border-bottom: 1px solid white;
}
.profile_pic{
    position:relative;
    top:8px;
    background-color: rgb(0, 0, 0);
    height: 97.2%;
    width: 10%;
    float: left;    
}
.title{
    background-color: rgb(0, 0, 0);
    height: 70;
    position:relative;
    top:5px;
    float: right;
    width: 90%;
    font-size:small;
    text-align: left;
    font-weight:600;
    
}
.message{
    background-color: rgb(0, 0, 0);
    height: 50;
    position:relative;
    top:9px;
    width: 100%;
    font-weight: 400;
    
}
.setin{
    position: relative;
     width:20px ;
     top:23px ;
     left:340px
}
.user{
    opacity: 20%;
}
.post_pic{
    background-color: rgb(0, 0, 0);
    height: 304;
    text-align: left;
    top: 10px;
}
.img{
    position:relative;
    border-radius: 5%;
    top: 3%;
    border-color: 1px solid  white ;
}
.proimg{
    border-radius: 50%;
    border-color: 1px solid  white ;
}
.inner_right{
    position: relative;
    left: 20px;
    padding: 10px;
}

.gfg2 {
    position: relative;
    left: 20px;
    top: 40px;
    border-radius: 20px 20px;
    background: rgb(56, 57, 89, 0.364);
    padding: 20px;
    text-align: left;
    width: 270px;
    height: 800px;
}

.gfg {
    position: relative;
    left: 20px;
    top: 20px;
    border-radius: 20px 20px;
    background: rgb(56, 57, 89, 0.364);
    padding-left: 20px;
    padding-top: 5;
    padding-bottom: 5;
    text-align: left;
    padding-right: 6;
    width: 280px;
    height: 190px;
    
}
.input{
    position: relative;
    left: 0.0cm;
    border-radius: 75px 75px;
    width:305px;
    height:60px;
    background-color:rgba(56, 57, 89, 0.364) ;
    border-bottom:0px;
    border-top:0px;
    border-right:0px;
    border-left: 0px;
    right: 24px;
    padding: 20px;
    color:white;
    padding-left: 46px;
    
}
.btn1{
    border-radius: 75px 75px;
    background-color:rgb(0, 117, 213) ;
    color:white;
    border-bottom:0px;
    border-top:0px;
    border-right:0px;
    border-left: 0px;
    padding: 10px;
    width:100px;
}

.hov1{
    text-align: center;
    width: 160px;
     padding:20px;
     padding-left: 4px;
     border-radius: 75px 75px;
     border-bottom:0px;
    border-top:0px;
    border-right:0px;
    border-left: 0px;
    font-weight:bolder;
    font-size:medium;
    background-color:black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hov1:hover{
    background-color: rgba(31, 31, 31, 0.541);
}
.hov2{
    width: 200px;
     padding:20px;
     padding-left: 4px;
     border-radius: 75px 75px;
     border-bottom:0px;
    border-top:0px;
    border-right:0px;
    border-left: 0px;
    font-weight:bolder;
    font-size:medium;
    background-color:black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hov2:hover{
    background-color: rgba(31, 31, 31, 0.541);
}
.hov3{
    width: 180px;
     padding:20px;
     padding-left: 4px;
     border-radius: 75px 75px;
     border-bottom:0px;
    border-top:0px;
    border-right:0px;
    border-left: 0px;
    font-weight:bolder;
    background-color:black;
    color: white;
    font-size:medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hov3:hover{
    background-color: rgba(31, 31, 31, 0.541);
}
.hov4{
    width: 150px;
     padding:20px;
     padding-left: 4px;
     border-radius: 75px 75px;
     border-bottom:0px;
    border-top:0px;
    border-right:0px;
    border-left: 0px;
    font-weight:bolder;
    background-color:black;
    color: white;
    font-size:medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hov4:hover{
    background-color: rgba(31, 31, 31, 0.541);
}
.hov5{
    width: 200px;
     padding:20px;
     padding-left: 4px;
     border-radius: 75px 75px;
     border-bottom:0px;
    border-top:0px;
    border-right:0px;
    border-left: 0px;
    font-weight:bolder;
    background-color:black;
    color: white;
    font-size:medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hov5:hover{
    background-color:  rgba(31, 31, 31, 0.541);
}
.hov6{
    width: 200px;
     padding:20px;
     padding-left: 4px;
     border-radius: 75px 75px;
     border-bottom:0px;
    border-top:0px;
    border-right:0px;
    border-left: 0px;
    background-color:black;
    color: white;
    font-weight:bolder;
    font-size:medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hov6:hover{
    background-color:  rgba(31, 31, 31, 0.541);
}
.hov7{
    width: 190px;
     padding:20px;
     padding-left: 4px;
     border-radius: 75px 75px;
     border-bottom:0px;
    border-top:0px;
    border-right:0px;
    border-left: 0px;
    background-color:black;
    color: white;
    font-weight:bolder;
    font-size:medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hov7:hover{
    background-color: rgba(31, 31, 31, 0.541);
}
.hov8{
    width: 170px;
     padding:20px;
     padding-left: 5px;
     border-radius: 75px 75px;
     border-bottom:0px;
    border-top:0px;
    border-right:0px;
    border-left: 0px;
    background-color:black;
    color: white;
    font-weight:bolder;
    font-size:medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hov8:hover{
    background-color:  rgba(31, 31, 31, 0.541);
}
.hov9{
    width: 150px;
     padding:20px;
     padding-left: 4px;
     border-radius: 75px 75px;
     border-bottom:0px;
    border-top:0px;
    border-right:0px;
    border-left: 0px;
    font-weight:bolder;
    font-size:medium;
    background-color:black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hov9:hover{
    background-color:  rgba(31, 31, 31, 0.541);
}

.spa{
    position: relative;
    left:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Teju css */

.icons{
    margin-top: 20px;
    width: 100%;
    height: 5%; 
    position: relative;
    right: 70px;
}  
.icons i{
    color: white; 

}
.like{
    left:5px;
    position:relative; 
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: small;
}
.icons a{
    text-decoration: none;
    color: rgba(250, 250, 250, 0.731);
    padding-left: 80px;
    font-weight: 100;
}
.icons a:hover{
    color: rgb(0, 117, 213);
}
.icons i:hover{
    color: rgb(0, 117, 213);
}
/* End  */



/* Nathan CSS */
.left-pane {
    display: flex;
    flex-direction: column;
    position:relative;
    background-color: black;
    color: white;
    padding: 15px;
    text-align: right;
    top: 17px;
}
.fab{
    position: relative;
    left: 69px;
    bottom: 20px;

}

.left-pane ul {
    
    color: white;
    list-style: none;
    position:relative;
    left: 240px;
    text-align: right;
}

.left-pane ul li {
    display: flex;
    align-items: center;
    position: relative;
    right: 15px;
    margin-bottom: 13px;

}

.blue-rectangle {
    top: 20px;
    position: relative;
    background-color: #1DA1F2;
    color: white;
    padding: 2px;
    width: 240px;
    text-align: center;
    left: 260px;
    border-radius: 999px; /* to create a rounded rectangle */
}

.user-account {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 52%;
    left: 270px;
}

.user-account img {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    bottom: 30px;
}

.user-info {
    position: relative;
    bottom: 20px;
}
/* Ada Css */
/* 
.course-options_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options_list {
    display: flex;
    gap: 5rem;
}

.options_list li{
    position: relative;
    color: black;
    cursor: pointer;
}

.options_list li.active{
    color: var(--color-thickgreen);
}

.options_list li.active::after {
    background-color: var(--color-thickgreen);
}

.options_list li::after,
.options_list li a {
    position: relative;
    color: black;
}

.options_list li a.active{
    color: var(--color-thickgreen);
}

.options_list li::after {
    content: ' ';
    display: block;
    height: 2px;
    background-color: black;
    bottom: -4px;
    width: 0;
    position: absolute;
    transition: all ease-in-out 250ms;
}

.options_list li:hover::after,
.options_list li.active::after{
   width: 100%;
} */